
h1{
     text-align: center;
}

h2{
    display: inline-block;
}
img {
    display:inline-block; 
}
p{
    border: 1px solid red;
    padding-left: 100px;
    margin-left: 100px;
    display: inline-block;
    vertical-align: top;
}
