body {
	background-image: url(assets/p4.jpg);
	background-size: cover;
		
}

form {
	border: 3px solid #f1f1f1;
	max-width: 50%;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: cursive;	
}

label {
	font-size: 18px;
}

textarea {
	width: 100%;
}


input {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}